$background: #82ae8a;

$highlight: #292c1d;
$secondary: white;

$highlight-text: white;
$text: black;
$inactive-text: lighten($text, 20%);
$highlight-inactive-text: darken($highlight-text, 20%);

$blue: #848fab;
$yellow: #a7ad86;
$red: #a88b83;